@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- BASE ---------- */
@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-green-50 text-gray-900;
  }
}

/* ---------- COMPONENTS ---------- */
@layer components {
  .btn-primary {
    @apply px-6 py-3 rounded-xl font-semibold text-white bg-yellow-500 hover:bg-yellow-600 transition;
  }
}
